<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Site1.master.cs" Inherits="Project6v2.Site1" %>

<!DOCTYPE html>

<html lang="en">
<head runat="server">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%: Page.Title %> - My ASP.NET Application</title>
     <%-- contact us ========================--%>
    <asp:ContentPlaceHolder ID="ContentPlaceHolder2" runat="server">
            </asp:ContentPlaceHolder>
    <%-- contact us ========================--%>
      <link href="Content/hh.css" rel="stylesheet"/>
    <asp:PlaceHolder runat="server">
       
    </asp:PlaceHolder>
 
      <script src="https://cdn.jsdelivr.net/npm/sweetalert2@7.12.15/dist/sweetalert2.all.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4" crossorigin="anonymous"></script>
      <link
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0/css/all.min.css"rel="stylesheet"/>
   <style>
        
.footer-distributed{
	background: #06283D;
	box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
	box-sizing: border-box;
	width: 100%;
	text-align: left;
	font: bold 16px sans-serif;
	padding: 20px 50px;
    position:relative;
    bottom:0px;
}

.footer-distributed .footer-left,
.footer-distributed .footer-center,
.footer-distributed .footer-right{
	display: inline-block;
	vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left{
	width: 40%;
}

/* The company logo */

.footer-distributed h3{
	color:  #ffffff;
	font: normal 36px 'Open Sans', cursive;
	margin: 0;
}

.footer-distributed h3 span{
	color:  #39B5E0;
}

/* Footer links */

.footer-distributed .footer-links{
	color:  #ffffff;
	margin: 20px 0 12px;
	padding: 0;
}

.footer-distributed .footer-links a{
	display:inline-block;
	line-height: 1.8;
  font-weight:400;
	text-decoration: none;
	color:  inherit;
}

.footer-distributed .footer-company-name{
	color:  white;
	font-size: 14px;
	font-weight: normal;
	margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center{
	width: 35%;
}

.footer-distributed .footer-center i{
	background-color:  #33383b;
	color: #ffffff;
	font-size: 25px;
	width: 38px;
	height: 38px;
	border-radius: 50%;
	text-align: center;
	line-height: 42px;
	margin: 10px 15px;
	vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope{
	font-size: 17px;
	line-height: 38px;
}

.footer-distributed .footer-center p{
	display: inline-block;
	color: #ffffff;
  font-weight:400;
	vertical-align: middle;
	margin:0;
}

.footer-distributed .footer-center p span{
	display:block;
	font-weight: normal;
	font-size:14px;
	line-height:2;
}

.footer-distributed .footer-center p a{
	color:  #39B5E0;
	text-decoration: none;
}

.footer-distributed .footer-links a:before {
  content: "|";
  font-weight:300;
  font-size: 20px;
  left: 0;
  color: #fff;
  display: inline-block;
  padding-right: 5px;
}

.footer-distributed .footer-links .link-1:before {
  content: none;
}

/* Footer Right */

.footer-distributed .footer-right{
	width: 20%;
}

.footer-distributed .footer-company-about{
	line-height: 20px;
	color:  #92999f;
	font-size: 13px;
	font-weight: normal;
	margin: 0;
}

.footer-distributed .footer-company-about span{
	display: block;
	color:  #ffffff;
	font-size: 14px;
	font-weight: bold;
	margin-bottom: 20px;
}

.footer-distributed .footer-icons{
	margin-top: 25px;
}

.footer-distributed .footer-icons a{
	display: inline-block;
	width: 35px;
	height: 35px;
	cursor: pointer;
	
	border-radius: 2px;

	font-size: 20px;
	color: #ffffff;
	text-align: center;
	line-height: 35px;

	margin-right: 3px;
	margin-bottom: 5px;
}

/* If you don't want the footer to be responsive, remove these media queries */

       @media (max-width: 880px) {

           .footer-distributed {
               font: bold 14px sans-serif;
           }

               .footer-distributed .footer-left,
               .footer-distributed .footer-center,
               .footer-distributed .footer-right {
                   display: block;
                   width: 100%;
                   margin-bottom: 40px;
                   text-align: center;
               }
               .footer-distributed h3{
	color:  #ffffff;
	font: normal 22px 'Open Sans', cursive;
	margin: 0;
}
       }
    </style>
     <style>

       .flex-wrapper {
            display: flex;
            flex-flow: row nowrap;
        }

        .single-chart {
            width: 33%;
            justify-content:space-around;
        }

        .circular-chart {
            display: block;
            margin: 10px auto;
            max-width: 80%;
            max-height: 250px;
        }

        .circle-bg {
            fill: none;
            stroke: #eee;
            stroke-width: 3.8px;
        }

        .circle {
            fill: none;
            stroke-width: 2.8px;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
        }

        @keyframes progress {
            0% {
                stroke-dasharray: 0 100;
            }
        }

        .circular-chart.orange .circle {
            stroke: #ff9f00;
        }

        .circular-chart.green .circle {
            stroke: #4CC790;
        }

        .circular-chart.blue .circle {
            stroke: #3c9ee5;
        }

        .percentage {
            fill: #666;
            font-family: sans-serif;
            font-size: 0.5em;
            text-anchor: middle;
        }

       /*************************************/
       .ordertable{
           width:80%;
           margin-left:10%;
           text-align:center;
       }
       .marrL{margin-left:15%}
      .wizad{
          margin-left:-2.7%;
          margin-top:-40px;
      }
       .divv {
           width:100%;
           text-align:center;
       }
       .grr{
           margin-left:100px;
       }
           .boxpro{
            width:70%;
            margin-left:15%;
            margin-top:60px;
            height:600px;
            background-color:#DFF6FF;
            border:2px solid #06283D;
            border-radius:5px;
        }
           .boxpro2{
            width:70%;
            margin-left:15%;
            margin-top:60px;
            height:750px;
            background-color:#DFF6FF;
            border:2px solid #06283D;
            border-radius:5px;
        }
        .infopro {
           /*width: 90%;*/
           border-radius:5px;
           float:left;
           height: 25px;
           border: 1px solid #06283D;
           /*margin-top:20px;*/
           margin-left: 10%;
           padding:5px;
        }
        .flopro{
            margin-top:15px;
            margin-left:15px;
        }
        .titpro{
            font-family:'Times New Roman';
            font-size:25px;
            float:left;
            margin-left:19px;
            font-style:italic;
            font-weight:bold;
        }
        .perdiv{
            width:100%;
            margin-top:75px;
        }
       .admIMG {
           width:80%;
            margin-left: 5%;
           height:510px;
           margin-top:60px;
       }
        .percUlab{
float:left;
font-style:italic;
font-family:"Times New Roman" ;font-size:25px;
color:#06283D;
margin-left:155px;
        }
         .percPlab{
float:right;
font-style:italic;
font-family:"Times New Roman" ;font-size:25px;
color:#06283D;
margin-right:155px;
        }

       @media only screen and (min-device-width:0px) and (max-device-width:480px) {
            .boxpro2 {
    width: 100%;
    margin-left: 0%;
    margin-top: 60px;
    height: 845px;
    background-color: #DFF6FF;
    border: 2px solid #06283D;
    border-radius: 5px;
}
            .single-chart {
            width: 50%;
            justify-content:space-around;
        }

          flex-wrapper {
    display: flex;
    flex-flow: column;
}
          .wizad {
    margin-left: -13.7%;
    margin-top: -39px;
}
       }
       @media (min-width: 481px) and (max-width:768px) {
                  .marrL{margin-left:14.5%}

           .boxpro2 {
    width: 100%;
    margin-left: 0%;
    margin-top: 60px;
    height: 845px;
    background-color: #DFF6FF;
    border: 2px solid #06283D;
    border-radius: 5px;
}
            .wizad {
    margin-left: -5.7%;
    margin-top: -39px;
}
       }
        @import url('https://fonts.googleapis.com/css?family=Roboto');
 
.ab .card1 {
  position: relative;
  height: 300px;
  width: 240px;
  overflow: hidden;
  margin-bottom:20px;
 
}

.ab .container:hover {
  
}

.ab .img-container {
 
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  transition: transform 0.3s ease-out;
  z-index: 2;
}

.ab .img-container:hover {
	cursor: pointer;
}

.ab .card1:hover .img-container {
	transform: translateY(60px);
     width:100%;
     position:absolute;
      border-bottom:1px solid rgb(57, 181, 224);
 
 
}


.ab .img-container > img {
  height: 100%;
  width: 100%;
  

}

.ab .card1:hover > img-container > img {
  opacity: 0.5;

}

.ab .social-media {
  display: flex;
  flex-direction:column;
  position: absolute;
  gap:10px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  margin: 0;
  padding: 0;
}

.ab .social-media > li {
  list-style: none;
}

.ab .social-media > li > input {
  display: block;
 
  background-color: #FFF;
  text-align: center;
  color: #262626;
  margin: 0 5px;
 
    height:40px;
  opacity: 0;
  transform: translateY(200px);
  transition: all 0.3s ease-out;
}



.ab .social-media > li > input {
  font-size: 12px;
  width:150px;
  transition: transform 0.3s ease-out;
  border:hidden;
  background-color:rgb(57, 181, 224);
  color:white;
}

 

.ab .card1:hover .social-media li:nth-child(1) input {
	transition-delay: 0s;
      transform: translateY(120px);
  opacity: 1;
  z-index:3;
 
}
.ab .card1:hover .social-media li:nth-child(2) input {
	transition-delay: 0s;
      transform: translateY(120px);
  opacity: 1;
  z-index:3;
  
}

.ab .user-info {
  position: absolute;
    top:0;
	 
	background-color: #FFF;
	height: 100px;
	width: 100%;
	box-sizing: border-box;
	padding: 10px;
   display:grid;
   grid-template-columns:20% 80%;
}

.ab .user-info > h2 {
  padding: 0;
  margin: 10px 0;
}

.ab .user-info > span {
  color: #262626;
  font-size: 16px;
}
 
#MainContent_CheckBoxList1{
    border:1px solid rgb(57, 181, 224);
}
 #MainContent_CheckBoxList1 td{
     position:relative;
 }
  #MainContent_CheckBoxList1 td label{
 
     position:absolute;
     width:90%;
     height:100%;
     top:0;
 
     display:grid;
     align-items:center;
     left:10%;
 }
  .gr{
      color:dimgrey;
  }

 
   </style>
  
	
</head>
<body>
    <form runat="server">
        <asp:ScriptManager runat="server">
            <Scripts>
                <%--To learn more about bundling scripts in ScriptManager see https://go.microsoft.com/fwlink/?LinkID=301884 --%>
                <%--Framework Scripts--%>
                <asp:ScriptReference Name="MsAjaxBundle" />
                <asp:ScriptReference Name="jquery" />
              
                <asp:ScriptReference Name="WebForms.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebForms.js" />
                <asp:ScriptReference Name="WebUIValidation.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebUIValidation.js" />
                <asp:ScriptReference Name="MenuStandards.js" Assembly="System.Web" Path="~/Scripts/WebForms/MenuStandards.js" />
                <asp:ScriptReference Name="GridView.js" Assembly="System.Web" Path="~/Scripts/WebForms/GridView.js" />
                <asp:ScriptReference Name="DetailsView.js" Assembly="System.Web" Path="~/Scripts/WebForms/DetailsView.js" />
                <asp:ScriptReference Name="TreeView.js" Assembly="System.Web" Path="~/Scripts/WebForms/TreeView.js" />
                <asp:ScriptReference Name="WebParts.js" Assembly="System.Web" Path="~/Scripts/WebForms/WebParts.js" />
                <asp:ScriptReference Name="Focus.js" Assembly="System.Web" Path="~/Scripts/WebForms/Focus.js" />
                <asp:ScriptReference Name="WebFormsBundle" />
                <%--Site Scripts--%>
            </Scripts>
        </asp:ScriptManager>
   
      <nav class="navbar navbar-expand-lg navbar-light " style="background-color:#06293d">
  <div class="container-fluid">
      <asp:Image ID="Image1" runat="server"  ImageUrl="users/images/logo-don.png" Height="55px"/>
    <a class="navbar-brand" href="../Default.aspx"></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link  btn spacebetween" aria-current="page" href="../Default.aspx" style="color:white;font-style:italic;">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link  btn spacebetween" aria-current="page" href="../About.aspx" style="color:white;font-style:italic;">About</a>
        </li>
      
        <li class="nav-item">
          <a class="nav-link  btn spacebetween" aria-current="page" href="../Contact.aspx" style="color:white;font-style:italic;">Contact</a>
        </li>

          
        <li class="nav-item">
          <a class="nav-link  btn" aria-current="page" href="../AllDonations" style="color:white;font-style:italic;">All Donations</a>
        </li>
      </ul>
      <div class="d-flex">
       <asp:LoginView runat="server" ViewStateMode="Disabled">
                        <AnonymousTemplate>
                            <ul class="nav navbar-nav navbar-right"> 
                                <li><a runat="server" class="ms-1 btn " style=" color:white;font-style:italic; "  href="~/Account/Register">Register</a></li>
                                <li><a runat="server" class="ms-1 btn " style=" color:white;font-style:italic;" href="~/Account/Login">Log in</a></li>
                            </ul>
                        </AnonymousTemplate>
                        <LoggedInTemplate>
                           <ul class="nav navbar-nav navbar-right">
                                <li><a runat="server" style="color:white;font-style:italic;" class="nav-link  "  title="Manage your account">Hello, <%: Context.User.Identity.GetUserName()  %> !</a></li>
                                <li>
                                    <asp:LoginStatus runat="server" LogoutAction="Redirect" CssClass="nav-link  btn" style="color:white;font-style:italic;" LogoutText="Log off" LogoutPageUrl="~/" OnLoggingOut="Unnamed_LoggingOut" />
                                </li>
                                  <%if (Context.User.IsInRole("Admin")){ %>
                         <li><a runat="server" href="https://localhost:44300/AdminDash/AdminDashBoard.aspx" style="color:white;font-style:italic;" class="nav-link  btn">Dashbord</a></li><%} %>
                                   <%if (Context.User.IsInRole("Provider")){ %>
                         <li><a runat="server" href="https://localhost:44300/users/newprofile" style="color:white;font-style:italic;" class="nav-link  btn">Doner Profile</a></li><%} %>
                                   <%if (Context.User.IsInRole("User")){ %>
                         <li><a runat="server" href="https://localhost:44300/users/newprofile" style="color:white;font-style:italic;" class="nav-link  btn">User Profile</a></li><%} %>
                            </ul>
                        </LoggedInTemplate>
                    </asp:LoginView>
      </div>
    </div>
  </div>
</nav>
            <asp:ContentPlaceHolder ID="MainContent" runat="server">
            </asp:ContentPlaceHolder>
            <footer class="footer-distributed">

			<div class="footer-left">
				<h3>HELPING<span>INFINITY</span></h3>
				<h3><%--Company<span>logo</span>--%><img src="images/l.png" style="margin-right:30px; width:111PX; "/></h3>

				<p class="footer-links">
					<a href="#" class="link-1">Home</a>
					
					<a href="#">Blog</a>
				
					<a href="#">Pricing</a>
				
					<a href="#">About</a>
					
					<a href="#">Faq</a>
					
					<a href="#">Contact</a>
				</p>

				<p class="footer-company-name">HELPING INFINITY Â© 2023</p>
			</div>

			<div class="footer-center">

				<div>
					<i class="fa fa-map-marker"></i>
					<p><span>444 S. Cedros Ave</span> Jordan, Irbid-Ajloun</p>
				</div>

				<div>
					<i class="fa fa-phone"></i>
					<p>+962770162323</p>
				</div>

				<div>
					<i class="fa fa-envelope"></i>
					<p><a href="mailto:support@company.com">support@company.com</a></p>
				</div>

			</div>

			<div class="footer-right">

				<p class="footer-company-about">
					<span>About the company</span>
					It's a donation site that receives and donates medical equipment to people who need it to keep the community safe, loving, and cooperative
				</p>

				<div class="footer-icons">

					<a href="#"><img  style="height:35px;"  src="images/facebook.png" /></a>
					<a href="#"><img  style="height:35px;"  src="images/instagram.png" /></a>
					<a href="#"><img  style="height:35px;"  src="images/linkedin.png" /></a>
					<a href="#"><img  style="height:35px;"  src="images/twitte.png" /></a>

				</div>

			</div>

		
            </footer>
        <script src="Content/bootstrap.min.js"></script>
    </form>
</body>
</html>
