<?xml version="1.0"?>
<configuration>

  <location path="Manage.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
      </authorization>
    </system.web>
  </location>
	<system.web>
		<httpRuntime executionTimeout="240" maxRequestLength="20480" />
	</system.web>
	<system.webServer>
		<security>
			<requestFiltering>
				<requestLimits maxAllowedContentLength="3000000000" />
			</requestFiltering>
		</security>
	</system.webServer>
</configuration>
